<%- include('includes/header.ejs') %>

<div class="jumbotron">
    <h1><%= title %></h1>
</div>
<table class="table table-bordered">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">User Name</th>
            <th scope="col">Email</th>
            <th scope="col">City</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row"><%=userApi.id %></th>
            <td><%=userApi.name %></td>
            <td><%=userApi.username %></td>
            <td><%=userApi.email %></td>
            <td><%=userApi.address.city %></td>
        </tr>
    </tbody>
</table>


<br>
<br>

<a class="btn btn-info" href="/users">Go Back</a>










<%- include('includes/footer.ejs') %>